@charset "utf-8";
/* CSS Document */

}

/*HTML 5 specific*/


#googleMap {
width: 100%;
height: 100%;
padding: 0;
text-shadow: none;}

		#playcontrols {
			text-align: center;
			margin-top: 20px;
		}
		#playcontrols #activityindicator, #playcontrols #stopbutton {
			display: none;
		}
		
		#textpositiondiv {
			margin-top: 20px;
		}
		
		#playcontrols2 {
			text-align: center;
			margin-top: 20px;
		}
		#playcontrols2 #activityindicator2, #playcontrols2 #stopbutton2 {
			display: none;
		}
		
		#textpositiondiv2 {
			margin-top: 20px;
		}
		#playcontrols3 {
			text-align: center;
			margin-top: 20px;
		}
		#playcontrols3 #activityindicator3, #playcontrols3 #stopbutton3 {
			display: none;
		}
		
		#textpositiondiv3 {
			margin-top: 20px;
		}
		
		
		#playcontrols1 {
			text-align: center;
			margin-top: 20px;
		}
		#playcontrols1 #activityindicator1, #playcontrols1 #stopbutton1 {
			display: none;
		}
		
		#textpositiondiv1 {
			margin-top: 20px;
		}
	



